<div class="form-group col-md-12">
	<h1>Editing Fighter</h1>
	<%= link_to 'Show', @fighter %> |
	<%= link_to 'Back', fighters_path %>
	<div class="delimiter">&#8193</div>
</div>
<%= render 'form', fighter: @fighter %>


