<div class="form-group col-md-12">
	<h1>Editar Luchador</h1>
	<%= link_to 'Ver', @fighter %> |
	<%= link_to 'Volver', fighters_path %>
	<div class="delimiter">&#8193</div>
</div>
<%= render 'form', fighter: @fighter %>


