<h1>LUDUS</h1>
<p>BONATI FIGHT CLUB</p>
<p/>
<%= link_to("Luchadores", fighters_path) %>
<p/>
<%= link_to("Categorías", categories_path) %>
<p/>
<%= link_to("Antecedentes deportivos", martial_arts_path) %>
<p/>
<%= link_to("Configuración: Género", genders_path) %>
<p/>