<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @martial_art.name %>
</p>

<%= link_to 'Editar', edit_martial_art_path(@martial_art) %> |
<%= link_to 'Volver', martial_arts_path %>
